<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book List</title>
  </head>

  <body>
    <h1>Edit Book</h1>
   
    <form action="/products/<%=product.id%>?_method=PUT" method="POST">

      <!--  NOTE: the form is pre-populated with values for the server-->
      Name: <input type="text" name="name" value="<%=product.name%>" /><br />
      Description: <input type="text" name="description" value="<%=product.description%>" /><br />
      Image: <input type="text" name="img" value="<%=product.img%>"><br />
      Price: <input type="text" name="price" value="<%=product.price%>"><br />
      Quantity: <input type="text" name="qty" value="<%=product.qty%>"><br />
      <br />
      <input type="submit" value="Submit Changes" />
    </form>
  </body>
</html>